{% extends 'admin/base.html.twig' %}

{% block page_header %}Dodawanie strony{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="fa fa-list"></i> <a href="{{ path('page_index') }}">Lista stron</a>
    </li>
    <li class="active">
        <i class="fa fa-plus"></i> Dodawanie strony
    </li>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script>
    $(function () {
        CKEDITOR.replace('page_content');
    });
</script>
{% endblock %}
