{% extends 'admin/base.html.twig' %}
{% import "admin/misc/macro/table.html.twig" as table %}

{% block page_header %}
    Galerie
    <a class="btn btn-xs btn-success" href="{{ path('gallery_new') }}">
        <i class="fa fa-plus"></i> Dodaj galerię
    </a>
{% endblock %}

{% block breadcrumb %}
    <li class="active">
        <i class="fa fa-list"></i> Lista galerii
    </li>
{% endblock %}

{% block content %}
    {% if galleries or app.request.query.get('key') %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Lista galerii
                </h3>
                <div class="box-tools">
                    {{ table.search(galleries, app.request.query.get('key')) }}
                </div>
            </div>
            <div class="box-body responsive-table">
                {% if galleries %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 60px;">{{ table.sort("#", "id", true) }}</th>
                            <th style="width: 25%">{{ table.sort("Nazwa", "name") }}</th>
                            <th>{{ table.sort("Opis", "description") }}</th>
                            <th style="width: 60px;">Zdjęcia</th>
                            <th style="width: 60px;">Edytuj</th>
                            <th style="width: 60px;">Usuń</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for gallery in galleries %}
                            <tr>
                                <td>{{ gallery.id }}</td>
                                <td>{{ gallery.name }}</td>
                                <td>{{ gallery.description|truncate(250) }}</td>
                                <td>
                                    <a class="btn btn-sm btn-success" href="{{ path('photo_index', { 'gallery_id': gallery.id }) }}">
                                        Zdjęcia
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ path('gallery_edit', { 'id': gallery.id }) }}">
                                        Edytuj
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" data-toggle="confirmation"
                                       data-content="Czy na pewno chcesz usunąć galerię?"
                                       href="{{ path('gallery_delete', { 'id': gallery.id }) }}">
                                        Usuń
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="callout callout-warning">
                        <p>Nie znaleziono wyników wyszukiwania.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="callout callout-info">
            <p>Nie dodałeś jeszcze żadnej galerii.</p>
        </div>
    {% endif %}
{% endblock %}
